.navbar{

    height: 5rem;
    width: 100vw;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem 1.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
     
    object-fit: cover;
    height: 4.5rem;
    width: 3rem;
}

.desktopMenuItem{

    margin: 1rem;
    cursor: pointer;
}

.desktopMenuImg{

    object-fit: cover;
    height: 2rem;
    width:  2rem;
}

.desktopMenuItem:hover {
    color: rgb(255,36,0);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(255,36,0);
    transform: scale(1);
    transition: ease-in 50ms;
    

}

.desktopMenuBtn{

    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.desktopMenuBtn:hover{

    color: black;
    transform: scale(1.1);
    background: #1DB954;
    transition: ease-in-out 50ms;
}

